@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center myContent">

    <div>

        @using(Html.BeginForm("Login", "Auth", FormMethod.Post, 
        new {@class = "myClass"  }))
        {
            <div>
                <p class="inputItem">
                    @Html.LabelFor(m => m.Name, "Your name:")
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </p>
                <p class="inputItem">
                    @Html.LabelFor(m => m.Password, "Password")
                    @Html.TextBoxFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </p>
            </div>

            @* <div>
                <div>
                    <p>Desired ingredients:</p>
                    @for(int i = 0; i < Model.Ingredients.Count(); i++)
                    {
                        @Html.HiddenFor(m => Model.Ingredients[i].Id)
                        @Html.LabelFor(m => Model.Ingredients[i].IsSelected, Model.Ingredients[i].Name)
                        @Html.CheckBoxFor(m => Model.Ingredients[i].IsSelected)
                        <br />
                    }
                </div>
                <p>
                    @Html.Label("Pizza Size:")
                    @foreach (var PizzaForm in Model.PizzaForm)
                    {
                        <label>
                            @Html.RadioButtonFor(m => m.SelectedPizzaFormId, PizzaForm.Id, new {})
                            @Html.HiddenFor(m => PizzaForm.Id)
                            @PizzaForm.Name
                        </label>
                    }
                </p>
            </div> *@
            <input type="submit" value="Login" />
        }
    </div>
</div>
